<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
        name="LPS Enroll New Student"
        version="1.0.2"
        description="Customizations for the Enroll New Student admin page.">
    <publisher name="Lawrence Public Schools">
        <contact email="mahammed.khalifa@lawrence.k12.ma.us" />
    </publisher>
</plugin>
